[submodule "paper codes/deep-pilco-torch"]
	path = paper_codes/deep-pilco-torch
	url = git@github.com:hardikparwana/deep-pilco-torch.git
[submodule "paper codes/PILCO"]
	path = paper_codes/PILCO
	url = git@github.com:hardikparwana/PILCO.git
[submodule "paper codes/PILCO-gpytorch"]
	path = paper_codes/PILCO-gpytorch
	url = git@github.com:hardikparwana/PILCO-gpytorch.git
[submodule "paper codes/DeepPILCO"]
	path = paper_codes/DeepPILCO
	url = git@github.com:hardikparwana/DeepPILCO.git
[submodule "paper codes/pets-handful-of-trials"]
	path = paper_codes/pets-handful-of-trials
	url = git@github.com:hardikparwana/pets-handful-of-trials.git
