[submodule "paper_codes/safe-control-gym"]
	path = paper_codes/safe-control-gym
	url = git@github.com:hardikparwana/safe-control-gym.git
[submodule "paper_codes/MPCC"]
	path = paper_codes/MPCC
	url = git@github.com:hardikparwana/MPCC.git
